@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Cafe SNL</h1>
    <p class="lead">Food Kingdom</p>
</div>

<div class="row" style="border: 1px solid gray;padding:3% 3% 3% 3%;font-size:1.5em;font-weight:bold;">
    @*<div class="col-md-12">*@

        <div class="col-md-3 text-center" style="border: 2px solid gray; padding: 3% 3% 3% 3%; margin-right:6%;">
            <img src="~/Images/small_business_96px.png" alt="point of sales" /><br />
            <p>Point of Sale</p>
        </div>
        <div class="col-md-3 text-center" style="border: 2px solid gray;padding:3% 3% 3% 3%;margin-right:6%;">
            <img src="~/Images/installing_updates_96px.png" alt="admin" /><br />
            <p>Admin</p>
        </div>
        <div class="col-md-3 text-center" style="border: 2px solid gray;padding:3% 3% 3% 3%;">
            <img src="~/Images/small_business_96px.png" alt="reports" /><br />
            <p>Reports</p>
        </div>
        
    @*</div>*@
</div>