@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/Default_Layout.cshtml";
}

<script type="text/javascript">

    function page1()
    {
        window.location('@Url.Action("PointofSale","PointofSale")');
    }
   
    function page2()
    {
        window.location('@Url.Action("Index","Admin")');
    }

    function page3()
    {
        window.location('@Url.Action("Report","Report")');
    }

</script>

@*<link rel="stylesheet" href="~/Content/Style.css" />*@

<div class="jumbotron text-center">
    <h1>Cafe SNL</h1>
    <p class="lead">Food Kingdom</p>
</div>

<div class="center-block row" style="padding:3% 3% 3% 5%;font-size:1.5em;font-weight:bold;">

    <div class="card card-hover" onclick="page1();">
        <div class="col-md-3 text-center text-white" style="border: 2px solid gray;border-radius:5%; padding: 3% 3% 3% 3%; margin-right:12%;background-color:lightgrey;">
            <img src="~/Images/small_business_96px.png" alt="point of sales" /><br />
            <p>Point of Sale</p>
        </div>
    </div>

    <div class="card card-hover" onclick="page2();">
        <div class="col-md-3 text-center" style="border: 2px solid gray;border-radius:5%;padding:3% 3% 3% 3%;margin-right:12%;background-color:lightgrey;">
            <img src="~/Images/installing_updates_96px.png" alt="admin" /><br />
            <p>Admin</p>
        </div>
    </div>

    <div class="card card-hover" onclick="page3();">
        <div class="col-md-3 text-center" style="border: 2px solid gray;border-radius:5%;padding:3% 3% 3% 3%;background-color:lightgrey;">
            <img src="~/Images/combo_chart_100px.png" alt="reports" /><br />
            <p>Reports</p>
        </div>
    </div>

</div>
